<div class='container_1' style='padding: none !important;'>
  <div style="display:inline-flex">
    <a routerLink="/main"><img style="margin-right: 20px; margin-top: 8px" width="150px" src="assets/img/logo.png" ></a>
    <div id="search-form" class="design-1">
      <form action ="https://www.mercari.com/jp/search/">
        <input type="text" name="keyword" placeholder="何かお探しですか？">
        <div class="search-button"><input type="submit" value="検索"></div>
      </form>
    </div>
  </div>
</div>
