<div class='container_1' style='padding: none !important;'>
  <div style="display:inline-flex">
    <a routerLink="/main"><img style="margin-right: 20px; margin-top: 8px" width="150px" src="assets/img/logo.png" ></a>
    <div id="search-form" class="design-1">
      <form action ="https://www.mercari.com/jp/search/">
        <input type="text" name="keyword" placeholder="何かお探しですか？">
        <div class="search-button"><input type="submit" value="検索"></div>
      </form>
    </div>
  </div>
  <div style="display:inline-flex">
    <div class="header-portal-1">
      <a href="https://www.mercari.com/jp/category/" class="btn-main">
        <span>カテゴリーから探す</span>
      </a>
      <a href="https://www.mercari.com/jp/category/" class="btn-main">
        <span>ブランドから探す</span>
      </a>
      <a href="https://www.mercari.com/jp/signup/" class="btn-square-pop">
        <span>新規会員登録</span>
      </a>
      <a href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F" class="btn-flat-dashed-border">
        <span>ログイン</span></a>
    </div>
  </div>
  <p><img width="100%" src="assets/img/main_long.png"></p>
</div>
